<a href="https://colab.research.google.com/github/GeorgeLucas1/enem_bahia_analise-de-dados/blob/main/analise_enem_estado_bahia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

importando bibiliotecas como pandas,numpy,polars e matplotlib

como entender os dados?
* seguindo o dicionario de dados do governo federal

Inperção de dados
* padrões afetam o desempenho escolar
* caracteristicas municipais afeta desempenho escolar?
* renda familiar afeta a nota do aluno
* diferença entre desempenho pública e privada.
* qual matéria tem maior nota da Bahia?

importa o arquivo  csv- amostra-Enem Bahia



1.   Objetivo obter insights baseado na amostra de dados do Enem-Estado Bahia



*   Dados do participante
* Dados da Escola
* Dados do Local de aplicação
* dados da prova objetiva
* dados de redação
* dados socioececonômico







---

In [7]:
import pandas as pd
import numpy as np
import polars as pl
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', 100)

In [8]:
df = pd.read_csv("dados_enem_2021_BA.csv")

In [ ]:
df.head()
#leitura das 5 primeiras linhas.  os dados começa no 0

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO
0,210051128744,2021,4,F,1,3,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927200,Ruy Barbosa,29,BA,1,1,1,1,909.0,881.0,892.0,899.0,507.6,539.2,494.6,413.3,BAEDEBDECCEAEDDCBDEDAEECEEEDBDECBDCECBCCDABED,EEEBAABCBCDBEAEBEACEDDEDECACBDBCDACECDAECBCBD,99999ACAEEEEBDEACDACDEABCEABBDEDBAEEBDEEACDBAC...,BACEACDACBAAAEDCECABBACDCDBBA.CEABCDADADBECBE,1.0,EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB,1.0,80.0,120.0,80.0,80.0,20.0,380.0
1,210054173438,2021,5,F,1,2,1,2,0,2,1.0,0,2927408.0,Salvador,29.0,BA,1.0,1.0,1.0,2927408,Salvador,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,210052118573,2021,3,F,1,3,1,2,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2903201,Barreiras,29,BA,1,1,1,1,912.0,882.0,891.0,901.0,439.6,437.7,455.9,446.2,BCEDEACAEDCEDCBDDCCAADABADDEBEECBACDCCABBDCCA,AAEADCDCAAADCBBBAABBEAEDABCDAACDDCBDAAABAABBB,EDBEC99999DDAAEBBDCDBBAABDECAADAEACCDABCEABABE...,EBBEBDCCDDCDCBADABBBCCEABDADCBCCACBDACDCDADCE,0.0,DABCEDEBEEBBCABEDDCBCBECDADCDAACBDCCCDBBBEBAB,EBAAEADBCACBBABEECBAAEEBBBADCBADBCEDDEBBCAEAB,ACABBACAEADCEADABDACDCEABDDADBEDDDEBBACCDDDCCE...,DCCAEBABDDCABEECCBCCEXADDCEECDEBADCABBDBDEDCE,1.0,80.0,120.0,80.0,100.0,80.0,460.0
3,210052350230,2021,10,F,1,2,1,1,8,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2928802,Santo Estêvão,29,BA,1,1,1,1,911.0,880.0,890.0,902.0,548.1,619.5,676.3,386.6,CCAECCADEAADDEDDEECEDDEADDDCACDEDCDCDEADBEDDE,DBBEADDCABABCECEAEBEAEDCBCAEABEEDEBBEAABCBDCD,ABCCA99999DDCACDCACABBEAAEBDAEEBDEEAADACEEDDDB...,CAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA,0.0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,120.0,120.0,100.0,120.0,120.0,580.0
4,210053156861,2021,9,M,1,2,1,1,5,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2910800,Feira de Santana,29,BA,1,1,1,1,1014.0,1000.0,1004.0,1010.0,465.2,613.1,522.1,579.6,CDCCBDBBDCBACEBDACBCACADBCBECCEBCDDEBDACEECCD,CCBAADECCBACBECCBEADAEBEACBEBBEADEBBABDACDEBC,BADCE99999DABAABBABBBCEDBDCDABEABCBBDCACBABAAA...,CCBACBBCCCCEDDDDCBCCDCACCCBBBDDDBCBADDBCABACA,0.0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,100.0,120.0,100.0,120.0,100.0,540.0

In [ ]:
df.tail()
#leitura das 5 ultimas linhas.

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO
40661,210052113124,2021,9,M,1,1,1,1,5,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2917508,Jacobina,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40662,210054456059,2021,4,F,1,2,1,1,2,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2913101,Ibititá,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40663,210052263495,2021,1,F,1,2,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2906808,Cansanção,29,BA,1,1,1,1,911.0,880.0,890.0,902.0,411.9,494.7,496.8,439.2,DDCEABBAECBCBEDDEDCCDEDCCDDECABBCCABADCDEECBB,CBAAACDAABDBCBCAADBDABBAAEBAABBABAEDDABB.....,AABBA99999BAAACECAACDBEADBAACAEEDEDBDECCCABDBA...,ECAABDAEEDEBEAEBCDECCADDCEBAACECCDBEAEDEECBDA,0.0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,120.0,100.0,120.0,120.0,0.0,460.0
40664,210051973449,2021,14,F,3,3,1,1,12,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2931350,Teixeira de Freitas,29,BA,1,1,1,1,910.0,879.0,889.0,900.0,389.2,431.8,385.5,412.0,DDDAEDCECDEAEEAECDACBCECDACCBECAECBCBCCEADECD,ECEBEBBADBDEDDAABCDAABDECECDBECCDACBBECBBACCA,99999BCCBABCABDBBDBBACBECBDBECAEEABCECEABBECCB...,CBCDDBCDCABDCDCBDDEBDEBCDEDBADCBCDCDBDDCCBBDB,1.0,ADCDCDBBBECDCCDCBCBDABCAADCBEBABEEBBBCABEDEDE,BADCBADBCEDDEBBADBCABEECCAEABEBAAECBBABAAEEBB,CAABBCAEAABDCDEADCEDBEDDDABBBBDEBCEADABDBACACD...,DDCABDCCAEDCEBBDBDAEEBADCAECDBCCCCDDCEEBABXEE,1.0,80.0,100.0,80.0,100.0,0.0,360.0
40665,210052835090,2021,4,F,1,1,1,2,0,2,1.0,0,2933307.0,Vitória da Conquista,29.0,BA,2.0,1.0,1.0,2933307,Vitória da Conquista,29,BA,1,1,1,1,909.0,881.0,892.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.shape
# analisa quantidade de linhas e coluna em tuplas

(40666, 51)

In [9]:
df.info()
#analisa o numeros de valores,sumário,não nulos e uso de memoria

#possivel perceber que ate a 9 tem mesma quantidade após isso nao bate por valores ausentes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17792 entries, 0 to 17791
Data columns (total 51 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NU_INSCRICAO            17792 non-null  int64
 1   NU_ANO                  17792 non-null  int64
 2   TP_FAIXA_ETARIA         17792 non-null  int64
 3   TP_SEXO                 17792 non-null  object
 4   TP_ESTADO_CIVIL         17792 non-null  int64
 5   TP_COR_RACA             17792 non-null  int64
 6   TP_NACIONALIDADE        17792 non-null  int64
 7   TP_ST_CONCLUSAO         17792 non-null  int64
 8   TP_ANO_CONCLUIU         17792 non-null  int64
 9   TP_ESCOLA               17792 non-null  int64
 10  TP_ENSINO               7798 non-null   float64
 11  IN_TREINEIRO            17792 non-null  int64
 12  CO_MUNICIPIO_ESC        3464 non-null   float64
 13  NO_MUNICIPIO_ESC        3464 non-null   object
 14  CO_UF_ESC               3464 non-null   float64
 15  SG_UF_ESC               3464 non-null   object
 16  TP_DEPENDENCIA_ADM_ESC  3464 non-null   float64
 17  TP_LOCALIZACAO_ESC      3464 non-null   float64
 18  TP_SIT_FUNC_ESC         3464 non-null   float64
 19  CO_MUNICIPIO_PROVA      17792 non-null  int64
 20  NO_MUNICIPIO_PROVA      17792 non-null  object
 21  CO_UF_PROVA             17792 non-null  int64
 22  SG_UF_PROVA             17792 non-null  object
 23  TP_PRESENCA_CN          17792 non-null  int64
 24  TP_PRESENCA_CH          17792 non-null  int64
 25  TP_PRESENCA_LC          17792 non-null  int64
 26  TP_PRESENCA_MT          17792 non-null  int64
 27  CO_PROVA_CN             14189 non-null  float64
 28  CO_PROVA_CH             14740 non-null  float64
 29  CO_PROVA_LC             14740 non-null  float64
 30  CO_PROVA_MT             14189 non-null  float64
 31  NU_NOTA_CN              14189 non-null  float64
 32  NU_NOTA_CH              14740 non-null  float64
 33  NU_NOTA_LC              14740 non-null  float64
 34  NU_NOTA_MT              14189 non-null  float64
 35  TX_RESPOSTAS_CN         14189 non-null  object
 36  TX_RESPOSTAS_CH         14740 non-null  object
 37  TX_RESPOSTAS_LC         14740 non-null  object
 38  TX_RESPOSTAS_MT         14189 non-null  object
 39  TP_LINGUA               17792 non-null  int64
 40  TX_GABARITO_CN          14189 non-null  object
 41  TX_GABARITO_CH          14740 non-null  object
 42  TX_GABARITO_LC          14740 non-null  object
 43  TX_GABARITO_MT          14189 non-null  object
 44  TP_STATUS_REDACAO       14740 non-null  float64
 45  NU_NOTA_COMP1           14740 non-null  float64
 46  NU_NOTA_COMP2           14740 non-null  float64
 47  NU_NOTA_COMP3           14740 non-null  float64
 48  NU_NOTA_COMP4           14739 non-null  float64
 49  NU_NOTA_COMP5           14739 non-null  float64
 50  NU_NOTA_REDACAO         14739 non-null  float64
dtypes: float64(21), int64(17), object(13)
memory usage: 6.9+ MB

In [22]:
df.columns
#analisa o nomes das coluna

Index(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA',
       'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT',
       'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC',
       'TX_RESPOSTAS_MT', 'TP_LINGUA', 'TX_GABARITO_CN', 'TX_GABARITO_CH',
       'TX_GABARITO_LC', 'TX_GABARITO_MT', 'TP_STATUS_REDACAO',
       'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4',
       'NU_NOTA_COMP5', 'NU_NOTA_REDACAO'],
      dtype='object')

In [10]:
(df.isna().sum() / df.shape[0] * 100).sort_values(ascending=True)


#verifica dados ausentes  total

NU_INSCRICAO               0.000000
NU_ANO                     0.000000
TP_FAIXA_ETARIA            0.000000
TP_SEXO                    0.000000
TP_ESTADO_CIVIL            0.000000
TP_COR_RACA                0.000000
TP_NACIONALIDADE           0.000000
TP_ST_CONCLUSAO            0.000000
TP_ANO_CONCLUIU            0.000000
TP_ESCOLA                  0.000000
IN_TREINEIRO               0.000000
TP_PRESENCA_CN             0.000000
NO_MUNICIPIO_PROVA         0.000000
CO_UF_PROVA                0.000000
SG_UF_PROVA                0.000000
CO_MUNICIPIO_PROVA         0.000000
TP_PRESENCA_LC             0.000000
TP_PRESENCA_MT             0.000000
TP_PRESENCA_CH             0.000000
TP_LINGUA                  0.000000
CO_PROVA_CH               17.153777
TP_STATUS_REDACAO         17.153777
NU_NOTA_COMP3             17.153777
CO_PROVA_LC               17.153777
TX_GABARITO_CH            17.153777
TX_GABARITO_LC            17.153777
NU_NOTA_COMP1             17.153777
TX_RESPOSTAS_LC           17.153777
NU_NOTA_LC                17.153777
TX_RESPOSTAS_CH           17.153777
NU_NOTA_CH                17.153777
NU_NOTA_COMP2             17.153777
NU_NOTA_COMP5             17.159397
NU_NOTA_REDACAO           17.159397
NU_NOTA_COMP4             17.159397
TX_RESPOSTAS_CN           20.250674
TX_GABARITO_CN            20.250674
TX_GABARITO_MT            20.250674
TX_RESPOSTAS_MT           20.250674
NU_NOTA_MT                20.250674
CO_PROVA_CN               20.250674
CO_PROVA_MT               20.250674
NU_NOTA_CN                20.250674
TP_ENSINO                 56.171313
CO_MUNICIPIO_ESC          80.530576
NO_MUNICIPIO_ESC          80.530576
CO_UF_ESC                 80.530576
SG_UF_ESC                 80.530576
TP_DEPENDENCIA_ADM_ESC    80.530576
TP_SIT_FUNC_ESC           80.530576
TP_LOCALIZACAO_ESC        80.530576
dtype: float64

In [ ]:
df.describe().transpose()
#primeiro quartil
#segundo quartil mediana
#terceira mediana

,count,mean,std,min,25%,50%,75%,max
NU_INSCRICAO,40666.0,2.100527e+11,982092.897496,2.100510e+11,2.100519e+11,2.100527e+11,2.100536e+11,2.100545e+11
NU_ANO,40666.0,2.021000e+03,0.000000,2.021000e+03,2.021000e+03,2.021000e+03,2.021000e+03,2.021000e+03
TP_FAIXA_ETARIA,40666.0,4.518320e+00,3.104464,1.000000e+00,3.000000e+00,4.000000e+00,5.000000e+00,2.000000e+01
TP_ESTADO_CIVIL,40666.0,1.016353e+00,0.323821,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.000000e+00
TP_COR_RACA,40666.0,2.317046e+00,0.900883,0.000000e+00,2.000000e+00,3.000000e+00,3.000000e+00,5.000000e+00
TP_NACIONALIDADE,40666.0,1.033050e+00,0.195836,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.000000e+00
TP_ST_CONCLUSAO,40666.0,1.706585e+00,0.691751,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,4.000000e+00
TP_ANO_CONCLUIU,40666.0,1.635838e+00,3.283813,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,1.500000e+01
TP_ESCOLA,40666.0,1.495500e+00,0.589587,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00
TP_ENSINO,17403.0,1.012469e+00,0.110970,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
IN_TREINEIRO,40666.0,1.243053e-01,0.329934,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
CO_MUNICIPIO_ESC,8202.0,2.923896e+06,101385.470781,2.205524e+06,2.910800e+06,2.922003e+06,2.927408e+06,5.300108e+06
CO_UF_ESC,8202.0,2.904109e+01,1.012129,2.200000e+01,2.900000e+01,2.900000e+01,2.900000e+01,5.300000e+01
TP_DEPENDENCIA_ADM_ESC,8202.0,2.352963e+00,0.905832,1.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,4.000000e+00
TP_LOCALIZACAO_ESC,8202.0,1.037796e+00,0.190713,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
TP_SIT_FUNC_ESC,8202.0,1.035479e+00,0.293546,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.000000e+00
CO_MUNICIPIO_PROVA,40666.0,2.919243e+06,9470.431814,2.900702e+06,2.910800e+06,2.919207e+06,2.927408e+06,2.933604e+06
CO_UF_PROVA,40666.0,2.900000e+01,0.000000,2.900000e+01,2.900000e+01,2.900000e+01,2.900000e+01,2.900000e+01
TP_PRESENCA_CN,40666.0,7.805784e-01,0.414750,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
TP_PRESENCA_CH,40666.0,8.144888e-01,0.391490,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
TP_PRESENCA_LC,40666.0,8.144888e-01,0.391490,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
TP_PRESENCA_MT,40666.0,7.805784e-01,0.414750,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
CO_PROVA_CN,31713.0,9.133616e+02,16.832289,9.090000e+02,9.100000e+02,9.110000e+02,9.120000e+02,1.014000e+03
CO_PROVA_CH,33034.0,8.839047e+02,19.933552,8.790000e+02,8.800000e+02,8.810000e+02,8.820000e+02,1.002000e+03
CO_PROVA_LC,33034.0,8.937295e+02,18.943809,8.890000e+02,8.900000e+02,8.910000e+02,8.920000e+02,1.006000e+03
CO_PROVA_MT,31712.0,9.035284e+02,17.807467,8.990000e+02,9.000000e+02,9.010000e+02,9.020000e+02,1.010000e+03
NU_NOTA_CN,31712.0,4.769064e+02,74.372738,0.000000e+00,4.225000e+02,4.661000e+02,5.216000e+02,7.974000e+02
NU_NOTA_CH,33033.0,5.080777e+02,91.818447,0.000000e+00,4.353000e+02,5.052000e+02,5.747000e+02,8.240000e+02
NU_NOTA_LC,33033.0,4.898007e+02,76.128139,0.000000e+00,4.347000e+02,4.905000e+02,5.432000e+02,7.705000e+02
NU_NOTA_MT,31712.0,5.124378e+02,99.691118,0.000000e+00,4.340000e+02,4.897000e+02,5.753000e+02,9.485000e+02
TP_LINGUA,40665.0,4.630764e-01,0.498641,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
TP_STATUS_REDACAO,33033.0,1.095722e+00,0.662988,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,9.000000e+00
NU_NOTA_COMP1,33033.0,1.196446e+02,31.877279,0.000000e+00,1.000000e+02,1.200000e+02,1.400000e+02,2.000000e+02
NU_NOTA_COMP2,33033.0,1.431417e+02,44.010045,0.000000e+00,1.200000e+02,1.200000e+02,1.800000e+02,2.000000e+02
NU_NOTA_COMP3,33033.0,1.181679e+02,34.542087,0.000000e+00,1.000000e+02,1.200000e+02,1.400000e+02,2.000000e+02
NU_NOTA_COMP4,33033.0,1.314516e+02,37.334318,0.000000e+00,1.200000e+02,1.200000e+02,1.600000e+02,2.000000e+02
NU_NOTA_COMP5,33033.0,1.199721e+02,57.999250,0.000000e+00,8.000000e+01,1.200000e+02,1.600000e+02,2.000000e+02
NU_NOTA_REDACAO,33033.0,6.323779e+02,181.719115,0.000000e+00,5.400000e+02,6.200000e+02,7.600000e+02,9.800000e+02

In [ ]:
#seleciona uma coluna
df.TP_ESCOLA.value_counts()

#primeiro são escola nao respondeu
#segunda escola publica
#terceira escola privada

#é possivel concluir que existem mais escola publicas doque privadas

TP_ESCOLA
1    22501
2    16180
3     1985
Name: count, dtype: int64

In [ ]:
df.select_dtypes(include='object').columns.tolist()
#encontrtas os tipo de dado da coluna baseado no tipo

['TP_SEXO',
 'NO_MUNICIPIO_ESC',
 'SG_UF_ESC',
 'NO_MUNICIPIO_PROVA',
 'SG_UF_PROVA',
 'TX_RESPOSTAS_CN',
 'TX_RESPOSTAS_CH',
 'TX_RESPOSTAS_LC',
 'TX_RESPOSTAS_MT',
 'TX_GABARITO_CN',
 'TX_GABARITO_CH',
 'TX_GABARITO_LC',
 'TX_GABARITO_MT']

**diferenças de notas entre escola publica e privada**

In [ ]:
df.query('TP_ESCOLA == 2')['NU_NOTA_MT'].mean()

np.float64(491.2659289276808)

In [ ]:
df.query('TP_ESCOLA == 3')['NU_NOTA_MT'].mean()

np.float64(589.2274428274429)

é possivel concluir que escola privada tem media superior a media das escola publica mesmo tendo poucas escolas privada na região

In [15]:
df.query('TP_ESCOLA == 2').NU_NOTA_MT.agg([np.mean, np.median])

/tmp/ipython-input-39360107.py:1: FutureWarning: The provided callable <function mean at 0x78a4137af880> is currently using Series.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.query('TP_ESCOLA == 2').NU_NOTA_MT.agg([np.mean, np.median])
/tmp/ipython-input-39360107.py:1: FutureWarning: The provided callable <function median at 0x78a4131a7ba0> is currently using Series.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df.query('TP_ESCOLA == 2').NU_NOTA_MT.agg([np.mean, np.median])

mean      494.495742
median    476.100000
Name: NU_NOTA_MT, dtype: float64

analisa e retorno o sexo masculino que seja treineiro

In [21]:
df.query('(TP_SEXO == "M") & (IN_TREINEIRO == 1)').sample(10)

#basicamente realizei consulta puxando homens baseado na coluna de treineiros sample signific\ amostra ingles no caso foi 5 amostra. pode ser 20 amostra,30 amostras e etc

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO
11768,210053344063,2021,2,M,1,3,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2914000,Ipirá,29,BA,1,1,1,1,909.0,881.0,892.0,899.0,388.3,409.0,491.6,503.5,ADBBDEBCCDAECDCAEDACEEEBABCDEACDABEDEABADBBDC,ABCBCEDADABBDCAACBCDCADBBACADBBBDEACE.EDACBEC,99999DBCCCCDBDDEDEEB*ADDCBEACAABCEADEAEDAEEAEB...,DCAEBCDDCCBEAEEEACAABDADBEDACCEEBBAEDDCBCACBE,1,EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB,1.0,100.0,140.0,80.0,120.0,80.0,520.0
14985,210052299646,2021,1,M,1,3,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2932507,Una,29,BA,1,1,1,1,911.0,880.0,890.0,902.0,557.7,533.9,524.9,629.6,EDCECBDEEEBDEABCDEBCBBDABCDEBCEDBCDDBBDBEBCDD,DCBACDAEBBDDEDBDBEADAEBCAEAEEABEBEBAABADABDCC,99999BAAABDCAABBBEABBBEAEDADABEADAEACBECCEEDCE...,ACBDBCBAAEEECADDCDDBEBECADDDBACBCABAEDBECDEDE,1,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,140.0,120.0,120.0,140.0,120.0,640.0
11476,210051349286,2021,1,M,1,0,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927408,Salvador,29,BA,1,1,1,1,911.0,880.0,890.0,902.0,522.9,596.6,568.2,684.2,CDCDAADBAABEECBCDEECBCAAADDEABDAEAAACDADBEDBD,BBABAAABBBABECCADABAADACACCEABEDDEDEBCDECBEEE,AEABA99999BDCAACCAECBBEADECDAAAADEDBEEACEADDBD...,DCCCACADBEDCADADBACABEEBDCAEDADBCADBEDBDCBCDA,0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,160.0,200.0,160.0,180.0,180.0,880.0
7179,210052676916,2021,2,M,1,3,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2908408,Conceição do Coité,29,BA,1,1,1,1,909.0,881.0,892.0,899.0,434.6,434.3,451.0,613.8,DABCCAEECDBDAACBBACCBECCABEAEBAABCEAACDBBBDEB,ECECBAACADDBBBDBDBBCDBADCCCDDCABABDDABECCEADD,DDBAB99999DDBDDBBDDCACDBACABAECCACCDEEAAACAEBB...,EECEDCEDACECCEEABBBEBCACDAADCAACBDAEBCABADDCB,0,EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB,1.0,120.0,120.0,120.0,120.0,60.0,540.0
10572,210051167013,2021,2,M,1,1,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2923704,Paratinga,29,BA,1,1,1,1,909.0,881.0,892.0,899.0,652.7,646.9,580.9,673.3,EEECABEDABDBEBCCBDCABEDDBEDCAA*CD*BDCCCEBABCE,BCECCAEABADBEADDAAEDEDEBBDAABCBBAEABBBAECABBE,DACAC99999CDABCADEBDDAEDCBBAADDBBEDDEBEAACCDAE...,EABEBECDEEBCCBCDCBBBBEAADEADACDEDECBCDCEDDCDB,0,EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB,1.0,120.0,120.0,140.0,120.0,140.0,640.0
14974,210052883407,2021,1,M,1,1,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2917300,Ituberá,29,BA,1,1,1,1,909.0,881.0,892.0,899.0,464.8,500.3,438.0,648.2,ACCDCEBACDADCCCCCADAEEECBBEAEDBCDCBDCEBDCDDEE,ACCCABECCBEAEADBABEBABABDDADBBADAEACBEBEDBBCA,99999EDADEEDADEEEDCDADEDCBBADADBCBCACBCEADCBEB...,EABEBCCDDEBCDBCCDCEDEBCCDBBDCCAEBECCCDCDDBCBE,1,EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB,1.0,120.0,120.0,120.0,120.0,40.0,520.0
851,210051846988,2021,1,M,1,3,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2932507,Una,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10616,210052687159,2021,1,M,1,1,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927408,Salvador,29,BA,1,1,1,1,909.0,881.0,892.0,899.0,603.3,478.3,536.1,515.2,CBEBADCAABCBECECBDCBBEDEBBEDEABCADBCCCECAABAC,BEECAAEADADCADCEBCA*CBECCACBCBCEACBCADCBDADCE,ADADC99999CDACECCEDBDCDDAADBD*AABEEDCECABCCDAA...,CAEACADDACBCACBDBEDDCBCBDBCEBBCEDAABDABDAECCE,0,EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB,1.0,120.0,100.0,100.0,120.0,20.0,460.0
10539,210053353740,2021,3,M,1,2,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2923803,Paripiranga,29,BA,1,1,1,1,911.0,880.0,890.0,902.0,413.6,540.8,517.2,592.3,CBDEDABCEC.ADECABCABAADAC.DCABBCBDBDDBCECACDE,DBBADEBACDDACECEBABCAECEDCAABBDCABBECDABCECAC,99999AEAEACDEACDBAEBACDABCDEACEADEEBEBACEDDACA...,CCCACBDECEDCDADACDDEDEEABEBBADBCABBCAEBBAEADA,1,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,120.0,140.0,100.0,120.0,180.0,660.0
2853,210054119367,2021,1,M,2,1,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2933307,Vitória da Conquista,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

CONSULTA DO SEXO FEMININO QUE FEZ COMO TRAINNER

In [23]:
df.query('(TP_SEXO == "F") & (IN_TREINEIRO == 1)').sample(10)

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TX_RESPOSTAS_CN,TX_RESPOSTAS_CH,TX_RESPOSTAS_LC,TX_RESPOSTAS_MT,TP_LINGUA,TX_GABARITO_CN,TX_GABARITO_CH,TX_GABARITO_LC,TX_GABARITO_MT,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO
17416,210051841343,2021,2,F,1,3,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927408,Salvador,29,BA,1,1,1,1,912.0,882.0,891.0,901.0,547.6,549.8,492.5,475.7,DCDCECCBEBCCAABADDEBAACCDBBDBEDABAAACCDBBAACB,DABCACBBEAABBBBEEBBBAADDBBAACCBBEBDEBEBAAAAAA,AEBAB99999DEEEEDDBEDBAEBEBCAAABEDDADBAACDBBBCC...,ADEDEECCAEDBBDECADECDCEACCABABBAACDDABEDBBBBB,0,DABCEDEBEEBBCABEDDCBCBECDADCDAACBDCCCDBBBEBAB,EBAAEADBCACBBABEECBAAEEBBBADCBADBCEDDEBBCAEAB,ACABBACAEADCEADABDACDCEABDDADBEDDDEBBACCDDDCCE...,DCCAEBABDDCABEECCBCCEXADDCEECDEBADCABBDBDEDCE,1.0,140.0,160.0,120.0,140.0,180.0,740.0
12004,210053043066,2021,1,F,1,3,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2933307,Vitória da Conquista,29,BA,1,1,1,1,910.0,879.0,889.0,900.0,525.5,565.6,496.0,582.3,ABDCCCEBBCDABBECEABDCBBEDCACAEABEEDAEDBCBDCCE,BABCCADEDDEBABBACBEAEEEBCBEBDDCEAAABBBDCADBAC,BEDBB99999CECDEDECEDCEBDBECCEBADACEACCBDBCCABB...,BDBDCCCEDEDDDABBADAEACBDBCABADDACADCACECBCBDB,0,ADCDCDBBBECDCCDCBCBDABCAADCBEBABEEBBBCABEDEDE,BADCBADBCEDDEBBADBCABEECCAEABEBAAECBBABAAEEBB,CAABBCAEAABDCDEADCEDBEDDDABBBBDEBCEADABDBACACD...,DDCABDCCAEDCEBBDBDAEEBADCAECDBCCCCDDCEEBABXEE,1.0,120.0,200.0,180.0,180.0,200.0,880.0
13884,210054170490,2021,1,F,1,3,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2929909,Seabra,29,BA,1,1,1,1,911.0,880.0,890.0,902.0,352.1,335.1,370.0,461.6,DABDBAEEAABABCECBAEACEEAABDAABACAEBCBACDADAAA,DDDADDCECADAECACDECDCD.......................,99999DBCCABDADADEAADAEAECDACDEDDEBDAECDECBEEAE...,ABADAEDACEDCABABAD*AAEDBAABAABBDABBAABAACEABA,1,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,80.0,120.0,100.0,120.0,40.0,460.0
1750,210052820490,2021,2,F,1,1,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2927002,Rio Real,29,BA,1,1,1,1,910.0,879.0,889.0,900.0,382.9,547.3,506.5,450.3,CDEEEBBDCDBADEDBDBCD*CDCAABEDCCEEECCDDDABAEBD,BAACDCAECCECEDAACCEAAEBDCAEACBBDBACBBDADABECB,BADBC99999DBCEEDDEDABEDAEDBCEEBBACDADDBDDACBDB...,CECBEADBBBDDABBAEBDACCDECBEDCEBDAEDEBCDBEAADA,0,ADCDCDBBBECDCCDCBCBDABCAADCBEBABEEBBBCABEDEDE,BADCBADBCEDDEBBADBCABEECCAEABEBAAECBBABAAEEBB,CAABBCAEAABDCDEADCEDBEDDDABBBBDEBCEADABDBACACD...,DDCABDCCAEDCEBBDBDAEEBADCAECDBCCCCDDCEEBABXEE,1.0,120.0,120.0,120.0,120.0,160.0,640.0
8081,210053375396,2021,2,F,1,1,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2910701,Euclides da Cunha,29,BA,1,1,1,1,909.0,881.0,892.0,899.0,446.1,397.3,481.1,461.6,DABCDBEDDCCCCDEACDADEBABECEDEBCBADBDCEEEBDACE,CEECEBEBDDACACDBDACECDACBBEDADBDCCCABEBDBAADD,BACAC99999EDBDBDECACDCABABDDEBCBCCADACEADBCDED...,CAAEABDEACDACDBCEBADBEDBBDEDAEBCDACEEBCDEBCDE,0,EDECABEDABCBEBACCDCBBEEBBCBDAAECDCBDCDBBBADCD,BEECCAEABADBCAEBAAEEDDEBBBADBCBAAEEBBBADCCBBA,ABBACAAECACDBDDADEBDDCBDCEDBEDDBBBBDCEEAADABAC...,EEXEBABDDCECCBCCECDCAEBADEABBDBDEDCEDCCADDCAB,1.0,100.0,140.0,120.0,120.0,60.0,540.0
11873,210054172224,2021,1,F,1,2,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2901106,Amélia Rodrigues,29,BA,1,1,1,1,911.0,880.0,890.0,902.0,465.6,499.7,544.6,569.1,ECCCEBDCBCAEEBDCACBEBDECEADCAADAEDDBBCEBBEECE,DCADAABACDDABABBAADCADAAAC*DCCBEDEBADAABADEDD,ADBDA99999BABACDBEBABBEEBBCDAACAAEDADCDCBDBDBB...,ACBCAABADADCECDBDEDADEECEBCBAAADBDEADEBECECCE,0,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,BBBAAEECBBABEECEBAAEADBCACAEABEDDEBBBADBCBADC,ABBCAEAACADDCACDCADABBBBDEBBACEADCEBDDACEEDDDB...,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,1.0,140.0,180.0,100.0,140.0,100.0,660.0
5667,210052607411,2021,1,F,1,2,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2922409,Mutuípe,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3470,210052973981,2021,2,F,1,3,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2928802,Santo Estêvão,29,BA,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13474,210052491331,2021,1,F,1,1,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2910727,Eunápolis,29,BA,1,0,0,1,911.0,NaN,NaN,902.0,523.8,NaN,NaN,506.0,CCAEABABDDCCEDBAECBECDDADBACADCDECAAEEACAEBCD,NaN,NaN,DEBCBABBBADCACCBCDDAACEEBBECDACBDADBEBDBBEACD,1,CDBBBCABEDEDEAAEBACCCBDABCDCBCBDECDADCDBBEEBB,NaN,NaN,ECCCABBDBDDDCEDDCABXEEEBABEDCEDCCAEBADBCCECDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13528,210051235390,2021,1,F,1,3,1,3,0,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2900702,Alagoinhas,29,BA,1,1,1,1,910.0,879.0,889.0,900.0,423.0,409.0,445.6,463.5,CDEBCDEDBBDACEEABCADECBBCDACECECADBDECCEECACD,CCDDCBABDEEBCDACEBAACBDDCBACBDAEBCAEBCABEBAEA,99999DEACEDBEEEADEBDDDEBBEDCEEDAACEACDAADACAEB...,EDCBAACBDBBCCAECEDDCBCABBCDEDDBCCABDDACEBDCEB,1,ADCDCDBBBECDCCDCBCBDABCAADCBEBABEEBBBCABEDEDE,BADCBADBCEDDEBBADBCABEECCAEABEBAAECBBABAAEEBB,CAABBCAEAABDCDEADCEDBEDDDABBBBDEBCEADABDBACACD...,DDCABDCCAEDCEBBDBDAEEBADCAECDBCCCCDDCEEBABXEE,1.0,120.0,120.0,120.0,120.0,100.0,580.0